registry=http://npm.intranet.1stdibs.com:4783/
@types:registry=https://registry.npmjs.org/
@storybook:registry=https://registry.npmjs.org/
@newrelic:registry=https://registry.npmjs.org/
save-prefix='~'
@hypnosphi:registry=https://registry.npmjs.org/
@babel:registry=https://registry.npmjs.org/
